src/backend/main Application/PnP Universal/.vs/config/
src/backend/main Application/PnP Universal/PnP Universal/bin/Debug/
src/backend/main Application/PnP Universal/PnP Universal/obj/
*.config
*.cache
