
src/backend/main Application/PnP Universal/.vs/config/applicationhost.config
src/backend/main Application/PnP Universal/PnP Universal/bin/Debug/netcoreapp2.0/PnP Universal.runtimeconfig.dev.json
src/backend/main Application/PnP Universal/PnP Universal/obj/Debug/netcoreapp2.0/PnP Universal.AssemblyInfo.cs
